bin/
obj/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.nupkg
**/packages/*
!**/packages/build/
.vs/
[Bb]in/
[Oo]bj/
[Aa]rm/
[Aa]rm64/
[Xx]64/
[Xx]86/
.env
project.lock.json
project.fragment.lock.json
artifacts/
publish/
*.log
*.db
*.db-shm
*.db-wal
node_modules/
logs/
.DS_Store
Thumbs.db

appsettings.Development.json
appsettings.Production.json